@import url('https://rsms.me/inter/inter.css');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-0: hsl(0, 0%, 5%);
	--bg-1: hsl(0, 0%, 7%);
	--bg-2: hsl(0, 0%, 10%);
	--bg-3: hsl(0, 0%, 15%);
	--bg-4: hsl(0, 0%, 20%);
	--fg-0: hsl(0, 0%, 100%);
	--fg-1: hsl(0, 0%, 80%);
	--fg-2: hsl(0, 0%, 70%);
	--fg-3: hsl(0, 0%, 58%);
	--fg-4: hsl(0, 0%, 40%);
	--fg-5: hsl(0, 0%, 30%);
	--fg-6: hsl(0, 0%, 15%);
	--primary: hsl(217, 90%, 56%);
	--danger: hsl(0, 87%, 58%);
}

html {
	font-family: 'InterVariable';
	background-color: var(--bg-0);
	color: var(--fg-0);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

#app {
	display: contents;
}

select,
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

:focus-visible {
	outline: 2px solid var(--primary);
	outline-offset: 2px;
}
