.button {
	display: inline-block;
	padding: 0.75rem 1rem;
	border: none;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 400;
	cursor: pointer;
	transition: background-color 0.2s;
	--bg: var(--fg-0);
	--fg: var(--bg-0);
	--border: none;

	background-color: var(--bg);
	color: var(--fg);
	border: 1px solid var(--border);

	&:hover {
		background-color: var(--bg-h, hsl(from var(--bg) h calc(s * 0.9) calc(l * 0.7)));
		color: var(--fg);
	}

	&.loading {
		opacity: 0.5;
		pointer-events: none;
	}

	&.primary {
		--bg: var(--fg-0);
		--fg: var(--bg-0);
	}

	&.secondary {
		--bg: var(--bg-0);
		--fg: var(--fg-0);
		--border: var(--fg-6);
		--bg-h: var(--bg-1);
	}

	&.danger {
		--bg: var(--danger);
		--fg: var(--fg-0);
	}

	&.dangerSecondary {
		--bg: var(--bg-0);
		--fg: var(--danger);
		--border: var(--danger);
		--bg-h: hsl(from var(--danger) h calc(s * 0.8) calc(l * 0.2));
	}
}
