.textInput {
	display: flex;
	min-width: 300px;
	width: 100%;
	flex-direction: column;
	gap: 0.5rem;

	.textInputLabel {
		color: var(--fg-3);
		font-size: 0.8rem;
		font-weight: 400;
		display: flex;
		align-items: center;
		gap: 0.25rem;

		.textInputRequired {
			color: var(--danger);
			font-size: 0.6rem;
		}
	}

	.textInputField {
		display: flex;
		width: 100%;
		padding: 0.75rem 1rem;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		border-radius: 0.25rem;
		border: 1px solid var(--bg-3);
		background: var(--bg-1);
		font-size: 0.8rem;

		&::placeholder {
			color: var(--fg-5);
			font-weight: 400;
		}

		&:focus-visible {
			outline-offset: -2px;
		}
	}
}
